<div class="container-fluid">
        <!-- start file upload area -->
      <div class="jumbotron text-center">
        <h2>You are here: <a href="/{{username}}/admin_tools"></a> / Add new _paper</h2>
        <form action="" method="post" enctype="multipart/form-data">
          <div class="form-group">

              <h2>Select an Image file to OCR it:</h2>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <input type="file" name="files">
                </div>
                <div class="col-sm-6">
                  <button type="submit" name="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
              <!-- <br><input type="file" name="files"> -->
          <!--<input type="submit"  name="submit" value="Upload">-->          
          </div>
        </form>
      </div>
      <!-- end file upload area -->
      </div>